# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDEs
.idea/
.vscode/
*.iml

# Local config
.env
local.properties

# macOS
.DS_Store

# Firebase generated local files
firebase_options.dart
